@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

/* OOCSS */
.hr-style{
    color: #7F7F7F;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

}

.handwriting-font{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-shadow: 1px 1px 5px #0a0a0a;
    color: #F8512F;
}

.red-aster{
    color: red;
}

.navbar, .carousel-section, .story, .review, .menu, .contact{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* NAVBAR */
/* .navbar{
    margin: 0;
    background-color: transparent;
} */

.nav li a:hover{
    background-color: transparent;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: (rgba(17, 17, 17, .5))
} 

.navbar-default .navbar-nav>li>a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
    color: #f8512f;
    background-color: rgba(17, 17 , 17, .2);
}

nav.navbar{
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    z-index: 20;
}


/* CAROUSEL */
.wrap{
    padding: 0;
}

.carousel{
    margin-bottom: 60px;
    /* height: 100vh; */
}

.carousel-inner .item{
    width: 100%;
    height: 100vh;
    background-size: cover;

}
/* 
.carousel-slide{
    height: 100%;
} */


.main-img1{
    background-image:linear-gradient(rgba(248,248,248, .1),rgba(248,248,248, .1)), url(../img/wood-2.jpg);
}

.main-img2{
    background-image:linear-gradient(rgba(248,248,248, .1),rgba(248,248,248, .1)), url(../img/restaurant-2.jpg);
}

.main-img3{
    background-image:linear-gradient(rgba(248,248,248, .1),rgba(248,248,248, .1)), url(../img/farm-2.jpg);
}

.main-logo{
    /* max-height: 300px; */
}

.btn-primary{
    color: #fff;
    background-color: #f8512f;
    border-color: transparent;
}

.btn-primary:hover{
    background-color: #d34326;
    border-color: transparent;

}

.carousel-caption{
    top: 35%;
    bottom: auto;
}

.carousel-caption p{
    color: #f7f7f7;
    font-size: 16px;
}

.main-logo{
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
}

/* OUR STORY */
.story-header-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.story-text{
    padding: 20px;
}

/* REVIEW */
.review{
    height: 400px;
    background-image: url(../img/food_review.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-position: center; */
}

.fresno-bee-container{
    padding: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(45, 48, 30, .75);
    border-radius: 5px;
}

.fresno-bee-container p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* MENU */
.menu{
    padding: 80px;
    height: 800px;
    background-image: url(../img/black_linen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-header{
    text-align: center;
}


.tab-pane{ 
    background-color: #fff;
    padding: 10px;
}

.tab-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-flex-col{
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-img{
    width: 250px;
    height: 250px;
    padding: 7px;
    border: 1px solid #7F7F7F;
    border-radius: 5px;
}

/* CONTACT */
.contact{
    background-color: #F8512F;
    color: #fff;
    padding: 50px;
}

.container-contact{
    padding-left: 100px;
    padding-right: 100px;
}

.container-contact h1{
    font-weight: 700;
    font-size: 55px;
}

.contact-header-text{
    margin-bottom: 30px;
}

/* CONTACT FORM */
.contact-left{
    margin-bottom: 20px;
}

.form-container{
    width: 350px;
    padding: 10px;
    background-color: #FF6633;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-form p{
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
}

.checkbox-robot{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.checkbox-robot label{
    margin-left: 5px;
    font-weight: 100;
}

.form-control{
    margin-bottom: 5px;
}

.contact-submit{
    width: fit-content;
}

.contact-form .required-line{
    justify-self: center;
    align-self: center;
}

/* CONTACT MAP SECTION */
.contact-right{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.restaurante-header{
    margin-top: 0;
}

/* @media (min-width: @) { 

 } */